# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore all Parquet files
*.parquet
**/*.parquet

# Distribution / packaging
.Python
build/

# Ignore PostgreSQL database files
*.pgsql
*.pgdump
*.sql
*.db
*.backup

# Ignore PostgreSQL directories
ny_taxi_postgres_data/
pgdata/
pg_log/
postgresql/
data/

# Jupyter Notebook
.ipynb_checkpoints

